@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

h2{
  font-size:20px ;
  color: #694683;

}
h3 {
  font-size:14px;
  color: #694683;
}
.h2{
  font-size:20px ;
  color: #694683;

}
.img-responsive {
  max-width: 60%;
}
.h3 {
  font-size:14px;
  color: #694683;
}
body, label, .checkbox label {
	font-weight: 300;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f4d7e5;
}


body {
  padding-top: 5px;
  margin-bottom:60px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.setsize .icon-big{

  font-size: 50px;
  color:gray;

}
.showall{

 margin-top: 30px;
}
.marginheader{
  margin-top: 12px;
}
.putcolor .glyphicon {

  color: #c5c1b7;
}
.showframe{

  border-style:  dotted;
  border-width: thin;
  border-color: #4B0082;
}
.map-canvas{

  width: 500px;
  height: 400px;
}
html {
  position: relative;
  min-height: 100%;
}

.jumbotron{
  margin-top:30px;
}
